# Unreal Engine
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# Xcode
*.xcworkspace/
*.xcodeproj/

# Visual Studio
.vs/

/.vscode
/Intermediate

# OS
.DS_Store
Thumbs.db

# Compiled source
*.pdb
*.lib
*.exp
*.dll
*.exe
*.dylib

# Plugins - keep only source
Plugins/*/Binaries/
Plugins/*/Intermediate/

# Log files
*.log

# UE Cache / Derived Data
**/DDC/
**/DerivedDataCache/
**/__ExternalActors__/
**/__ExternalObjects__/
Content/StarterContent/

# Puerts
Plugins/Puerts/Binaries/
Plugins/Puerts/Intermediate/
node_modules/
